### Linear Regression: A simplified Project

House price Prediction- A simplified Linear Regression Model

In [1]:
## Linear Regression Assumptions are Liniearity, Normality and Homoscedasticity

In [2]:
import pandas as pd # Import of pandas and numpy libraries
import numpy as np

In [3]:
data=pd.read_csv('hp_data.csv')  #Load data into dataframe data
data.head(3)

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2

In [7]:
data.corr() # display correlation about features

,Unnamed: 0,price,sqft,yearsOld,floor,totalFloor,bhk
Unnamed: 0,1.000000,0.030283,0.001018,-0.022503,0.005641,0.008018,0.005641
price,0.030283,1.000000,0.778364,0.215712,0.263472,0.402256,0.263472
sqft,0.001018,0.778364,1.000000,0.229461,0.356053,0.358946,0.356053
yearsOld,-0.022503,0.215712,0.229461,1.000000,-0.116427,-0.142562,-0.116427
floor,0.005641,0.263472,0.356053,-0.116427,1.000000,0.958100,1.000000
totalFloor,0.008018,0.402256,0.358946,-0.142562,0.958100,1.000000,0.958100
bhk,0.005641,0.263472,0.356053,-0.116427,1.000000,0.958100,1.000000

In [8]:
data.info() #information on dataset , no null values found

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
Unnamed: 0    3500 non-null int64
price         3500 non-null int64
place         3500 non-null object
built         3500 non-null object
sqft          3500 non-null int64
sale          3500 non-null object
yearsOld      3500 non-null int64
floor         3500 non-null int64
totalFloor    3500 non-null int64
bhk           3500 non-null int64
dtypes: int64(7), object(3)
memory usage: 273.5+ KB

In [22]:
X=data.loc[:,['place','sqft','yearsOld','floor','totalFloor','bhk']]
y=data.price
X.head(3)

        place  sqft  yearsOld  floor  totalFloor  bhk
0  BTM Layout  1450         5      1           4    1
1   Yelahanka  2190         5      3           5    3
2  Whitefield  1019         1      2           5    2

In [23]:
from sklearn.preprocessing import LabelEncoder  # encode categorical feature 
enc=LabelEncoder()
X.place=enc.fit_transform(X.place)
X.head(3)

   place  sqft  yearsOld  floor  totalFloor  bhk
0      2  1450         5      1           4    1
1     14  2190         5      3           5    3
2     12  1019         1      2           5    2

In [39]:
from sklearn.model_selection import train_test_split   # split data train-70% and test-30% 
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=15)

In [40]:
from sklearn.linear_model import LinearRegression #Linear Regression model
model=LinearRegression()
model.fit(X_train,y_train)
y_predict=model.predict(X_test) #Predictions

In [41]:
from sklearn.metrics import r2_score #Regression score on predictions
r2_score(y_test,y_predict)

0.8706112727220087

In [56]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_predict)

3563293022673.314

In [50]:
print(model.predict([[2,1450,5,1,4,1]]))  #sample prediction-1

[7735285.25567067]

In [51]:
print(model.predict([[14,2190,5,3,5,3]])) # Sample Prediction-2

[12786383.67367954]